.pagename{
    text-align: center;
    font-size: 50px;
    }

.butterchicken,.frenchtoast,.smoothie{
        font-size: 20px;
        display:inline-block;
        background-color: orange;
        color: white;
        padding:20px;
        margin: 10px;
        text-decoration: none;
        border-radius: 10px;

    }

